<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">Maestros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="../../assets/icon/maestros.png" alt="couldn't load">
    <ion-card-header>
      <ion-card-title>Welcome to Maestros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Need Some professional help. Maestros is just the right place to find some good assistance.
      </p>
    </ion-card-content>
  </ion-card>
